.intro{
    h1{
        font-weight:800;
        line-height: 1;
    }
    p{
        line-height: 1.4;
        @include media-breakpoint(md, min){
            width:75%;
        }
        @include media-breakpoint(lg, min){
            width:50%;
        }
    }

    section{
        display: flex;
        flex-direction: column;
        max-width: 200px;
        @include media-breakpoint(md, min){
            flex-direction: row;
            max-width: 300px;
        }
    }
    >img{
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translateX(-50%);
    }
}

