div.projects{
    div.project-list{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        @include media-breakpoint(md, min){
            grid-template-columns: 1fr 1fr;
        }
        @include media-breakpoint(lg, min){
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include media-breakpoint(xl, min){
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}