div.form-container{
    label{
        display: block;
    }
    input{
        display: block;
        background: none;
        border: none;
        border-bottom: 2px solid var(--grey-text-color);
        position: relative;
        outline:none !important;
        color:var(--green-color);
        &:focus{
            border-bottom: 2px solid var(--green-color);
        }
    }

}