div.miniNav{
    border-bottom: 3px solid var(--grey-text-color);
    button{
        background: none;
        border:none;
        color:var(--grey-text-color);
        outline: none;
        &.active{
            color:var(--green-color);
            position: relative;
            &::after{
                content:'';
                height: 3px;
                width:100%;
                background-color:var(--green-color);
                position: absolute;
                bottom:0;
                left: 0;
                transform: translateY(100%);
            }
        }
    }
}