div.miniNav{
    border-bottom: 3px solid var(--grey-text-color);
    white-space: nowrap;
    
    @include media-breakpoint(md, max){
        overflow-x: scroll;
        overflow-y: hidden;
    }
    button{
        background: none;
        border:none;
        color:var(--grey-text-color);
        outline: none;
        min-width: 120px;
        &.active{
            color:var(--green-color);
            position: relative;
            &::after{
                content:'';
                height: 3px;
                width:100%;
                background-color:var(--green-color);
                position: absolute;
                bottom:0;
                left: 0;
                transform: translateY(100%);
            }
        }
    }
}