div.experience{
    div.job-positions{
            position: relative;
            &::before{
                content: "";
                width: 3px;
                background-color: var(--green-color);
                height: 105%;
                left:3rem;
                display: block;
                position: absolute;
            }
        
    }
}