/*  Media queries
=================================*/
@mixin media-breakpoint($size,$minmax) {
    @if $size == sm {
        @media (#{$minmax}-width: 576px) { @content; }
    }@else if $size == md {
        @media (#{$minmax}-width: 768px) { @content; }
    }@else if $size == lg {
        @media (#{$minmax}-width: 992px) { @content; }
    }@else if $size == lg {
        @media (#{$minmax}-width: 1200px) { @content; }
    }@else if $size == xl {
        @media (#{$minmax}-width: 1400px) { @content; }
    }
}

/* px tp rem
====================================*/
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
  }

@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

