div.social-icons{
    position: fixed;
    top: 50%;
    left: 1rem;
    transform: translate(25%,-50%);
    @include media-breakpoint(md, min){
        left:3rem;
    }
    > a{
        display:block;
    }

    a:nth-child(2){
        margin:20px 0;
    }

    img{
        height:20px;
        width:20px;
    }
}